---
layout: layout.liquid
title: The Name Generator 
---
<div x-data="{
    names: ['Colin', 'DeAndre', 'Gabe', 'Devin', 'Angelo', 'AJ', 'Zach', 'Connor', 'Luke', 'Malachi'],
    current: 'Click Right Here!!'
}">

<h1 class="text-6x1 font-bold mb-10">The Name Generator! 10 Random Names!</h1>

<h1 class="text-3xl mb-6" x-text="current"></h1>

 <button
    @click="current = names[Math.round(Math.random() * (names.length - 1))]"
    class="bg-blue-400 text-gray-800 font-bold px-6 py-2 rounded"
  >
    Random Name
  </button>

</div>