---
layout: layout.liquid
title: The Name Generator 
---
<div x-data="{
    names: ['Colin', 'DeAndre', 'Gabe', 'Devin', 'Angelo', 'AJ', 'Zach', 'Connor', 'Luke', 'Malachi'],
    current: 'Click Right Here!!'
}">

<h1 class="text-6x1 font-bold mb-6">The Name Generator!</h1>